:root {
  --bg-color: rgb(245, 245, 245);
  --pink: #fdb6b6;
  --audio-img: 300px;
}
main {
  position: relative;
  margin: 0;
  padding: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
}
div {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;

  font-family: sans-serif;
}
.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  animation-name: increase-and-move;
  animation-duration: 3.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#green {
  bottom: 100px;
  right: -150px;
  background-color: #8effc8;
  animation-delay: 1s;
}
#pink {
  top: -200px;
  left: -50px;
  background-color: #ff9a9a;
}
#blue {
  bottom: -300px;
  left: 10px;
  background-color: #a281ff;
  animation-delay: 2s;
}
.container-audio {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(233, 233, 233, 0.35);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
#canva {
  width: var(--audio-img);
  height: var(--audio-img);
  /* background-color: var(--bg-color); */
}
.container-audio h1 {
  margin: 0;
  margin-top: 10px;
  color: #1f1f1f;
}
.container-audio p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #4f4f4f;
}

#barra {
  position: relative;
  height: 10px;
  width: 500px;

  background-color: #bbbbbb;
}
#progreso {
  position: absolute;
  height: 100%;
  width: 0%;
  background: pink;
}
#btn-play {
  margin-top: 20px;
  display: inline-block;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #ffffff;

  border: 2px solid #bbbbbb;
}
#btn-play svg {
  margin: auto;
  fill: #1f1f1f;
}

@media (max-width: 645px) {
  #barra {
    width: 300px;
  }
  .circle {
    width: 350px;
    height: 350px;
  }
  #green {
    right: -250px;
  }
  #blue {
    bottom: -200px;
    left: -150px;
  }
}
@keyframes increase-and-move {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
